#docker-compose.yml
#Engineer:  T. Looby
#Date: 20240321
#Description: Docker recipe for development.  Generates environment.
#             requires user to have the volumes below locally on host
#             if not, comment out the line for the dir you don't have
#             if so, change paths to match your machine
version: "3.0"

services:
  HEAT:
    #user: ${UID}:${GID}
    image: "plasmapotential/heat:v4.1"
    ports:
      - "8050:8050"
    volumes:
      #change volumes below to match your development (host) machine
      #format is: /host/path:/container/path
      #user should not edit container paths
      #
      # HEAT data directory on this machine (need to replace with absolute path on Windows)
#      - /home/ext/HEAT_main_v4_July3124/HEAT_rzq:/root/HEAT
#      # HEAT source code from github
#      - /home/tlooby/source/HEAT/github:/root/source/HEAT
        - /home/ext/HEAT_main_v4_July3124/HEAT_rzq/source:/root/source/HEAT
#      # Batch mode directory
#      - /home/tlooby/HEATruns/SPARC/oscillation_fixedSP:/root/terminal
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    #if you want to set env vars, do it here:
    environment:
    - dockerUID=$dockerUID
    - dockerGID=$dockerGID
    - UID=$dockerUID
    - GID=$dockerGID
    - OMPI_ALLOW_RUN_AS_ROOT=1
    - OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1

#NOTES:
#to run HEAT in batch mode, first bind mount the /root/terminal directory to your
#local directory with the batchFile, then run:
# python3 launchHEAT.py --m t --f /root/terminal/batchFile.dat
#
#to run an interactive shell use this command:
# docker-compose run HEAT /bin/bash
#
# to change image tag name:
# docker tag plasmapotential/heat:latest plasmapotential/heat:<tag>
