PyFoam
dash
dash_html_components
dash_core_components
dash_bootstrap_components
dash_bootstrap_templates
visdcc
flask
plotly
dash_table
dash_extensions
stl
scipy
psutil
trimesh
pandas
pillow
matplotlib
tk
vtk
click
h5py
netCDF4
mpi4py
gmsh
scikit-image
open3d
python-is-python3


