body {
  background-color: #1b1f22;
  color: #d5e1ed;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 98vh;
  max-width: 100% !important;
  overflow-x: hidden;
  margin: 0;
}

#big-app-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6rem;
  width: 100%;
  height: 90vh;
}

#tab-container {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3b3939;
  overflow-y: scroll;
}

#simulator-container {
  width: 100%;
  height: 98%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 0 6rem;
}

#graph-container{
  width: 35%;
  height: 100%;
  margin: 0 10px 0 10px;
}



/* Tab Settings
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* tabs */
	.tabcontent {
	  border: none;
	  border-top: none;
		border-bottom: none;
		min-height: 60vh;
    max-height: 98vh;
	  background-color: #252626;
		animation: fadeEffect 1s; /* Fading effect takes 1 second */
	  padding: 25px 10px 10px 10px;
		width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	}

  .innerTabContent {
	  background-color: #252626;
		animation: fadeEffect 1s; /* Fading effect takes 1 second */
	  padding: 25px 10px 10px 10px;
    max-height: 85vh;
		width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: scroll;
    max-width: 100%; /* Change this if PFC table overflows */
	}

  .logTabContent {
	  background-color: #252626;
		animation: fadeEffect 1s; /* Fading effect takes 1 second */
	  padding: 25px 10px 10px 10px;
    max-height: 85vh;
		width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 98%; /* Change this if PFC table overflows */
	}


  .innerTabContentColumn {
    background-color: #252626;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    padding: 25px 10px 10px 10px;
    max-height: 85vh;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: scroll;
  }


  /* Boxes
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.textInput{
  width: 90%;
  text-align:center;
}

.textInputHidden{
  width: 90%;
  text-align:center;
  display: none;
}

.box{
    align-items: center;
	  background-color: #3b3939;
    width: 47%;
    text-align:center;
    margin: 10px 10px 10px 10px;
/*    box-shadow: 3px 6px #242526; */
}

.MHDplotBox{
    align-items: center;
    width: 100%;
    height: 95%;
    text-align:center;
    margin: 10px 10px 10px 10px;
/*    box-shadow: 3px 6px #242526; */
}

.wideBoxNoColor{
    width: 98%;
    align-items: center;
    text-align:center;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
/*    box-shadow: 3px 6px #242526; */
}

.wideBoxDark{
    width: 98%;
    align-items: left;
	  background-color: #252626;
    text-align:left;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
/*    box-shadow: 3px 6px #242526; */
}

.wideBoxDarkColumn{
    align-items: left;
	  background-color: #252626;
    text-align:left;
    margin: 10px 10px 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
/*    box-shadow: 3px 6px #242526; */
}
.wideBoxLight{
    align-items: left;
	  background-color: #3b3939;
    width: 100%;
    text-align:left;
    margin: 10px 10px 10px 10px;
/*    box-shadow: 3px 6px #242526; */
}
.hiddenBox{
    display: none;
/*    box-shadow: 3px 6px #242526; */
}
.gfileTable{
    align-items: center;
    width: 90%;
    text-align:left;
    margin: 10px 10px 10px 10px;
/*    box-shadow: 3px 6px #242526; */
}

.HFbox{
    align-items: center;
	  background-color: #3b3939;
    width: 100%;
    text-align:center;
    margin: 10px 10px 10px 10px;
/*    box-shadow: 3px 6px #242526; */
}

.plotBox{
    align-items: center;
    width: 90%;
    text-align:left;
    margin: 10px 10px 10px 10px;
/*    box-shadow: 3px 6px #242526; */
}

.PFCbox{
    align-items: center;
	  background-color: #3b3939;
    width: 100%;
    text-align:center;
    margin: 10px 10px 10px 10px;
/*    box-shadow: 3px 6px #242526; */
}
.PCbox{
    align-items: center;
	  background-color: #3b3939;
    width: 95%;
    text-align:left;
    margin: 10px 10px 10px 10px;
/*    box-shadow: 3px 6px #242526; */
}

.runContentBox{
/*  width: 90%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
}

.outputHeader{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;



}

.xyzBox{
    display: flex;
    flex-direction: row;
    align-items: center;
	  background-color:none;
    width: 100%;
    text-align:center;
    margin: 10px 10px 10px 10px;
/*    box-shadow: 3px 6px #242526; */
}
.xyzBoxVert{
    display: flex;
    flex-direction: column;
    align-items: center;
	  background-color:none;
    width: 100%;
    text-align:center;
    margin: 10px 10px 10px 10px;
/*    box-shadow: 3px 6px #242526; */
}

.xyzBoxInput{
    width: 15%;
    background-color: transparent;
    margin: 10px 10px 10px 10px;
/*    box-shadow: 3px 6px #242526; */
}


.PFCupload{
  display: inline-block;
  align-items: center;
  text-align:center;
  width: 98%;
  margin: 0 0 10px 0;
}

.PFCtable{
  display: inline-block;
  align-items: center;
  text-align:center;
  width: 98%;
  margin: 0 0 10px 0;
  overflow-x: scroll;
}


.gfileBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
	  background-color: #3b3939;
    width: 90%;
    text-align:left;
    margin: 10px 10px 10px 10px;
/*    box-shadow: 3px 6px #242526; */
}
.gfileBoxInput{
    width: 30%;
    background-color: transparent;
    margin: 10px 10px 10px 10px;
/*    box-shadow: 3px 6px #242526; */
}

.logBox{
  background-color: #000000;
  opacity: 0.4;
  font-size: 16px;
  font-family: monospace;
  padding: 5px;
  color: #03fc6b;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
  justify-items: center;
}



/* Input Tab
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.EQplot{
    width: 75%;
    height: 100%;
    padding: 0 5px 0 5px;
}

.buttonRibbon{
  display: flex;
  flex-direction: column;
  text-align:center;
  align-items: center;
  background-color: #3b3939;
  width: 100%;
  margin: 10px 10px 10px 10px;

}
.machineSelectBox{
  width: 47%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 10px 10px 10px;

}

.defaultButtonBox{
  width: 47%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 10px 10px 10px;
}
.machineSelect{
  width: 100%;
  background-color: #7c8080;
  color: #1253e0;

}
.hfSelect{
  display: inline-block;
  width: 50%;
  background-color: #7c8080;
  color: #1253e0;
  text-align:center;
}

.defaultButtons{
/*  width: 50%; */
  margin: 10px 10px 10px 10px;
  align-items: center;
  white-space: normal;

}

.hfParams{
  display: inline-block;
  width: 50%;
  background-color: #7c8080;
  color: #1253e0;
  text-align:center;
}

/*
.hfInput{
  align-items: center;
  width: 45%;
  margin: 10px 10px 10px 10px;
}
*/
.hfInput{
  display: inherit;
}

.hfInput2{
  align-items: center;
  text-align:center;
  width: 300px%;
  margin: 0px 10px 10px 10px;
}

.hfLabel{
  align-items: center;
  text-align:center;
  width: 100%;
  margin: 0px 10px 0px 10px;
}

.SelectorBoxInput{
  width: 300px;
  text-align:center;
  color: #3333ff;
  margin: 0px 10px 10px 10px;
  background-color: #919191;
}

.rowBox{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;

  text-align:center;
  align-items: center;
}

.colBox{
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;

  text-align:center;
  align-items: center;

  margin: 10px 10px 10px 10px
}



.OFInput{
  align-items: center;
  width: 45%;
  margin: 10px 10px 10px 10px;
}
