<!DOCTYPE HTML>
<!--
run.html
Description:	Runs HEAT using python Flask bindings on server
Engineer:			T Looby
Date:					January 2020
-->

<html>
	<head>
		<title>HEAT: Run</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>
		<link rel="icon" href="{{ url_for('static',filename='images/flame.png') }}" />
	</head>
	<body onload="document.getElementById('mhdTabButton').click(); document.getElementById('initialSlide').click();">
	<div class=grid-container-fullPage>
	<div class=grid-container-slideshow>

		<div class=item0>
  		<span class="dot" onclick="openSlide(event, 'slide1')" id="initialSlide"></span>
		</div>
		<div class=item1>
  		<span class="dot" onclick="openSlide(event, 'slide2')"></span>
		</div>
		<div class=item2>
  		<span class="dot" onclick="openSlide(event, 'slide3')"></span>
		</div>
		<div class=item3>
  		<span class="dot" onclick="openSlide(event, 'slide4')"></span>
		</div>



	<!-- slides grid item -->



<!--========================       Slide 1           ==========================-->
	<div class="slide-container fade" id="slide1">
		<div class="grid-container-sim">
		<h2 class=itemSlideHeaderSim>Simulator</h2>
	<!-- ================================================================
													User Inputs
			 ================================================================-->
			<!--Inputs-->
		  <div class="itemInputButtons">
				<form>
					<div class="fields flex">
									<input type="button" value="Import Default Inputs" onclick="loadDefaults()" id="loadDefaults" style="flex-grow: 2;">
									<label for="fileChoose" style="flex-grow: 1;">Upload Input File:</label>
									<input type="file" id="fileChoose" style="flex-grow: 1;">
									<input type="button" value="Upload" onclick="uploadFile()" id="uploadFile" style="flex-grow: 1;">
					</div>

<!--
				<div class="fields flex">
							<div class="field third">
								<input type="button" value="Import Default Inputs" onclick="loadDefaults()" id="loadDefaults">
							</div>
							<div class="field third">
								<label for="fileChoose">Upload Input File:</label>
								<input type="file" id="fileChoose">
							</div>
							<div class="field third">
								<input type="button" value="Upload" onclick="uploadFile()" id="uploadFile">
							</div>
				</div>
-->
			</form>
		</div>

		<!-- ================================================================
																			Tabs
			   ================================================================-->
				<div class=itemTabs>
				<div class="tab">
				  <button class="tablinks" onclick="openTab(event, 'mhd')" id="mhdTabButton">MHD</button>
				  <button class="tablinks" onclick="openTab(event, 'cad')">CAD</button>
					<button class="tablinks" onclick="openTab(event, 'pfc')">PFC</button>
				  <button class="tablinks" onclick="openTab(event, 'hf')">HF</button>
					<button class="tablinks" onclick="openTab(event, 'fem')">FEM</button>
					<button class="tablinks" onclick="openTab(event, 'run')">RUN</button>
				</div>

				<!--MHD Tab-->
				<div id="mhd" class="tabcontent">

					<div class=grid-container-mhd>
						<div class=itemMHD1 id=itemMHD1>
							<div class="scroll3">
							<form>
								<div class="fields">
									<div class="field">
										<label for="shot">Shot Number</label>
										<input type="text" name="shot" id="shot" />
									</div>
									<div class="field">
										<label for="tmin">Minimum Timestep</label>
										<input type="text" name="tmin" id="tmin"/>
									</div>
									<div class="field">
										<label for="tmax">Maximum Timestep</label>
										<input type="text" name="tmax" id="tmax"></input>
									</div>
									<div class="field">
										<label for="tmax">Number of trace steps (degrees)</label>
										<input type="text" name="nTrace" id="nTrace"></input>
									</div>
									<div class="field">
										<label for="gfilePath">Path to gfile</label>
										<input type="text" id="gfilePath" placeholder='None'></input>
									</div>
								</div>
					  	<input type="button" value="Pull MHD" onclick="loadMHD()", id="loadMHD" class="button inline">
						</form>
					</div>
					</div>

					<!-- EQ Plot -->
<!--					<div class=item11 id="eqGrid">
						<div class="EQplot">
							<img id="eq"></img>
						</div>
					</div>
-->
					<!-- EQ Plot -->

					<div class=itemMHD2 id="itemMHD2div">
							<!-- <iframe src="{{ url_for('static',filename='html/test.html') }}"></iframe> -->
							<!-- <object type="text/html" data="{{ url_for('static',filename='html/EQ2D.html') }}" style="width: 100%; height: 100%;" id='eq'></object> -->
							<object type="text/html" data="{{ url_for('equil') }}" style="width: 100%; height: 100%;" id='eq'></object>

					</div>


				</div>
				</div>

				<!--CAD Tab-->
				<div id="cad" class="tabcontent">
					<div class="scroll3">
					<form>
						<div class="fields">
							<div class="field half">
								<label for="ROIGridRes">HF Grid Resolution [mm]</label>
								<input type="text" name="ROIGridRes" id="ROIGridRes" />
							</div>
							<div class="field half">
								<label for="gridRes">Intersect Grid Resolution [mm]</label>
								<input type="text" name="gridRes" id="gridRes"/>
							</div>
							<div class="field">
								<label for="STPfile">STP File Location</label>
								<input type="text" name="STPfile" id="STPfile"></input>
							</div>
						</div>
					  <input type="button" value="Load CAD" onclick="loadCAD()" id="loadCAD" class="button inline">
					</form>
				</div>
				</div>

				<!--PFC Tab-->
				<div id="pfc" class="tabcontent">
					<div class="grid-container-pfc">

						<form id="scrollForm1">
						<h4>Tiles to calculate heat flux on:</h4>
						<div class="scroll1">
								<div class="fields" id="scrolldiv1"></div>
						</div>

						<p> </p> <p> </p>
						<input type="button" value="Write these Settings" onclick="writePFCs()" id="writePFCs" class="button inline">
						</form>

						<form id="scrollForm2">
						<h4>Tiles to calculate Intersections on:</h4>
						<div class="scroll2">
								<div class="fields" id="scrolldiv2"></div>
						</div>
						</form>


					</div>
				</div>



				<!--HF Tab-->
				<div id="hf" class="tabcontent">
					<div class="scroll3">
					<form>
						<div class="fields">
							<div class="field half">
								<label for="lq">
									Heat Flux Width:<span class=noCAPs> &lambda; <sub>q</sub> </span>
								</label>
								<input type="text" name="lq" id="lq" />
							</div>
							<div class="field half">
								<label for="S">Gaussian Spreading: S</label>
								<input type="text" name="S" id="S" />
							</div>
							<div class="field half">
								<label for="P">P<sub>SOL</sub></label>
								<input type="text" name="P" id="P"></input>
							</div>
							<div class="field half">
								<label for="qBG">q<sub>BG</sub></label>
								<input type="text" name="qBG" id="qBG"></input>
							</div>
						</div>
						<input type="button" value="Load HF Parameters" onclick="loadHF()" id="loadHF" class="button inline">
					</form>
				</div>
				</div>


				<!--FEM Tab-->
				<div id="fem" class="tabcontent">
					<h3>OpenFOAM Settings:</h3>
						<div class="scroll3">
						<form>
						<div class=fields>
							<!-- Bounding Box Size -->
							<div class="field half">
 						  	<input type="text" id="xMinOF">
									<label for="xMinOF">Bounding Box xMin [mm]</label>
							</div>
							<div class="field half">
 						  	<input type="text" id="xMaxOF">
									<label for="xMaxOF">Bounding Box xMax [mm]</label>
							</div>
							<div class="field half">
 						  	<input type="text" id="yMinOF">
									<label for="yMinOF">Bounding Box yMin [mm]</label>
							</div>
							<div class="field half">
 						  	<input type="text" id="yMaxOF">
									<label for="yMaxOF">Bounding Box yMax [mm]</label>
							</div>
							<div class="field half">
 						  	<input type="text" id="zMinOF">
									<label for="zMinOF">Bounding Box zMin [mm]</label>
							</div>
							<div class="field half">
 						  	<input type="text" id="zMaxOF">
									<label for="zMaxOF">Bounding Box zMax [mm]</label>
							</div>
							<!-- Time Settings -->
							<div class="field half">
 						  	<input type="text" id="tMinOF">
									<label for="tMinOF">Start Time [s]</label>
							</div>
							<div class="field half">
 						  	<input type="text" id="tMaxOF">
									<label for="tMaxOF">End Time [s]</label>
							</div>
							<div class="field half">
 						  	<input type="text" id="deltaT">
									<label for="deltaT">Time Step Size [s]</label>
							</div>
							<div class="field half">
 						  	<input type="text" id="writeDeltaT">
									<label for="writeDeltaT">Write Time Step Size [s]</label>
							</div>
							<!-- Mesh Settings -->
							<div class="field third">
 						  	<input type="text" id="STLscale">
									<label for="STLscale">STL Scaling</label>
							</div>
							<div class="field third">
 						  	<input type="text" id="meshMinLevel">
									<label for="meshMinLevel">Minimum Mesh Refinement Level</label>
							</div>
							<div class="field third">
 						  	<input type="text" id="meshMaxLevel">
									<label for="meshMaxLevel">Maximum Mesh Refinement Level</label>
							</div>
							<!-- Middle of Mesh -->
							<div class="field third">
 						  	<input type="text" id="xMidOF">
									<label for="xMidOF">x Middle [mm]</label>
							</div>
							<div class="field third">
 						  	<input type="text" id="yMidOF">
									<label for="yMidOF">y Middle [mm]</label>
							</div>
							<div class="field third">
 						  	<input type="text" id="zMidOF">
									<label for="zMidOF">z Middle [mm]</label>
							</div>


							<div class=field>
								<input type="button" value="Setup openFOAM Run" onclick="setupFEM()" id="setupFEM" class="button inline">
							</div>
						</div>
					</form>
					</div>
				</div>


				<!--RUN Tab-->
				<div id="run" class="tabcontent">
					<div class="scroll3">
					<form>
						<div class=fields>

							<!-- Heat Flux settings -->
							<div class="field half">
 						  	<input type="checkbox" id="Bpc">
									<label for="Bpc">B-field point cloud at tile surface</label>
							</div>
							<div class="field half">
								<input type="checkbox" id="Normpc">
									<label for="Normpc">Normal Vector point cloud at tile surface </label>
							</div>
							<div class="field half">
								<input type="checkbox" id="shadow">
									<label for="shadow">ShadowMask point cloud at tile surface </label>
							</div>
							<div class="field half">
								<input type="checkbox" id="HFpc">
									<label for="HFpc">Heat flux point cloud at tile surface </label>
							</div>
							<div class="field half">
								<input type="checkbox" id="psiPC">
									<label for="psiPC"> <span class=noCAPs> &psi; Point Cloud </span> </label>
							</div>
							<div class="field">
								<input type="checkbox" id="Btrace" onchange="toggleDisabled(this.checked)">
									<label for="Btrace">B-field trace from point </label>
							</div>

							<div class="field custom1">	</div>

							<div class="field custom1"  id="coordsX" hidden>
								<label for="xCoord" class="lowercase" id="xCoorLabel" >X[m]:</label>
							</div>

							<div class="field custom2" id="coordsXLab" hidden>
								<input type="text" id="xCoord" value="0.533">
							</div>

							<div class="field custom1" id="coordsY" hidden>
								<label for="yCoord" class="lowercase" id="yCoorLabel">Y[m]:</label>
							</div>

							<div class="field custom2" id="coordsYLab" hidden>
								<input type="text" id="yCoord" value="0.120">
							</div>

							<div class="field custom1" id="coordsZ" hidden>
								<label for="zCoord" class="lowercase" id="zCoorLabel">Z[m]:</label>
							</div>
							<div class="field custom2" id="coordsZLab" hidden>
								<input type="text" id="zCoord" value="-1.604">
							</div>

							<!-- OpenFOAM settings -->
							<div class=field>
 						  	<input type="checkbox" id="Thermal">
									<label for="Thermal">OpenFOAM Thermal Analysis</label>
							</div>


							<div class=field>
								<input type="checkbox" id="Tprobe" onchange="toggleDisabled_T(this.checked)">
									<label for="Tprobe">OpenFOAM Temperature probe at point </label>
							</div>

							<div class="field custom1">	</div>

							<div class="field custom1"  id="coordsX_T" hidden>
								<label for="xProbe" class="lowercase" id="xCoorLabel_T" >X[m]:</label>
							</div>

							<div class="field custom2" id="coordsXLab_T" hidden>
								<input type="text" id="xProbe" value="0.533">
							</div>

							<div class="field custom1" id="coordsY_T" hidden>
								<label for="yProbe" class="lowercase" id="yCoorLabel_T">Y[m]:</label>
							</div>

							<div class="field custom2" id="coordsYLab_T" hidden>
								<input type="text" id="yProbe" value="0.142">
							</div>

							<div class="field custom1" id="coordsZ_T" hidden>
								<label for="zProbe" class="lowercase" id="zCoorLabel_T">Z[m]:</label>
							</div>
							<div class="field custom2" id="coordsZLab_T" hidden>
								<input type="text" id="zProbe" value="-1.608">
							</div>



							<div class=field>
								<input type="button" value="Run HEAT" onclick="runHEAT()" id="runHEAT" class="button inline">
							</div>
						</div>
					</form>
					</div>
				</div>



		</div> <!-- End tab item -->
	<!-- ================================================================
														Log File
			 ================================================================-->
		  <div class="itemLog">
							<textarea id="log" class="logBox" ></textarea>
			</div>
		</div> <!-- End grid-container -->
	</div> <!-- End slide1 -->

<!--========================       Slide 2           ==========================-->

	<!-- ================================================================
														Paraview Window
			 ================================================================-->

	 <div class="slide-container fade" id="slide2">
 		<div class="grid-container-PV">
		<h2 class=itemSlideHeaderPV>Paraview Web</h2>
			 <div class="itemPV">
 				<!--<img src="{{ url_for('static',filename='images/bg1.jpg') }}" alt="my plot" ></img> -->
 				<iframe src="http://127.0.0.1:8080/index.html" class=PViframe></iframe>
 				<!-- <iframe src="http://tlooby-cent:8080/index.html" class=PViframe></iframe> -->
 				<!-- <iframe src="http://127.0.0.1:5000" class=PViframe></iframe> -->
 			</div>
		</div>
	</div>


<!--========================       Slide 3           ==========================-->
	<div class="slide-container fade" id="slide3">
 		<div class="grid-container-clean">
		<h2 class=itemSlideHeaderClean>gfile Cleaner</h2>

			<div class=itemClean1 id=itemClean1>
				<div class="scroll4">
				<form>
					<div class="fields">

						<div class="field">
							<label for="gfilePath1">Path to original gfile</label>
							<input type="text" id="gfilePath1" placeholder='None'></input>
						</div>
						<div class="field center">
						<input type="button" value="Load gfile" onclick="loadGfile()" id="loadGfile" class="button inline">
						</div>

							<div class="field half">
								<label for="psiRZ">psiRZ Multiplier</label>
								<input type="text" id="psiRZ" value='1.0'></input>
							</div>
							<div class="field half">
								<label for="psiSep">psiSep Multiplier</label>
								<input type="text" id="psiSep" value='1.0'></input>
							</div>
							<div class="field half">
								<label for="psiAxis">psiAxis Multiplier</label>
								<input type="text" id="psiAxis" value='1.0'></input>
							</div>
							<div class="field half">
								<label for="Fpol">Fpol Multiplier</label>
								<input type="text" id="Fpol" value='1.0'></input>
							</div>
							<div class="field center">
								<input type="button" value="Apply Changes" onclick="gfileClean()" id="gfileClean" class="button inline">
							</div>

						<div class="field">
							<label for="gfilePath1New">Path to new gfile</label>
							<input type="text" id="gfilePath1New" placeholder='None'></input>
						</div>
						<div class="field half">
							<label for="newShot">New Shot Number</label>
							<input type="text" id="newShot" placeholder='None'></input>
						</div>
						<div class="field half">
							<label for="newTime">New Timestep [ms]</label>
							<input type="text" id="newTime" placeholder='None'></input>
						</div>
						<div class="field center">
						<input type="button" value="Write New gfile" onclick="writeGfile()" id="writeGfile" class="button inline">
						</div>

					</div>



			</form>
		</div>
		</div>

		<!-- EQ Plot -->
		<div class=itemClean2>
			<object type="text/html" data="{{ url_for('equil') }}" style="width: 100%; height: 100%;" id='eq2'></object>
		</div>



	</div><!-- End grid -->
</div> <!-- End slide container -->


	<!--========================       Slide 4           ==========================-->
<!--
		<div class="slide-container fade" id="slide4">
			<div class=grid-container-gCAD>
				<h2 class="itemSlideHeadergCAD">gFile CAD Generator</h2>
			<div class=itemGCAD2>
				<iframe src="{{ url_for('static',filename='html/test.html') }}"></iframe>
				</div>
			</div>
		</div>
-->
		<div class="slide-container fade" id="slide4">
			<div class=grid-container-gCAD>
			<!--		<iframe src="{{ url_for('static',filename='html/test.html') }}" style="width: 100vw; height: 100vh;"></iframe>  -->
					<object type="text/html" data="{{ url_for('static',filename='html/test.html') }}" style="width: 100%; height: 100%;"></object>
			</div>
		</div>



</div> <!-- End slide-container -->
</div>




	<!-- ================================================================
														Javascript
			 ================================================================-->
		<!-- These are event handlers -->
		<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/util.js') }}"></script>
		<script src="{{ url_for('static',filename='js/main.js') }}"></script>
		<script src="{{ url_for('static',filename='js/tabs.js') }}"></script>
		<script src="{{ url_for('static',filename='js/loadMHD.js') }}"></script>
		<script src="{{ url_for('static',filename='js/loadCAD.js') }}"></script>
		<script src="{{ url_for('static',filename='js/loadHF.js') }}"></script>
		<script src="{{ url_for('static',filename='js/checkboxGrey.js') }}"></script>
		<script src="{{ url_for('static',filename='js/loadDefaults.js') }}"></script>
		<script src="{{ url_for('static',filename='js/runHEAT.js') }}"></script>
		<script src="{{ url_for('static',filename='js/uploadFile.js') }}"></script>
		<script src="{{ url_for('static',filename='js/writePFCs.js') }}"></script>
		<script src="{{ url_for('static',filename='js/setupFEM.js') }}"></script>
		<script src="{{ url_for('static',filename='js/slideshow.js') }}"></script>
		<script src="{{ url_for('static',filename='js/gfileCleaner.js') }}"></script>

		<!-- These are loaded on startup -->
		<script src="{{ url_for('static',filename='js/refreshLog.js') }}"></script>
		<script src="{{ url_for('static',filename='js/loadPFCParts.js') }}"></script>

	</div>
	</body>
</html>
