<!DOCTYPE html>
<html>
<head>
  <title>HEAT: Run</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>
  <link rel="icon" href="{{ url_for('static',filename='images/flame.png') }}" />
</head>
<body onload="document.getElementById('initialSlide').click();">

<div class="slideshow-container">

<div class="slides fade" id="slide1">
  <div class="numbertext">1 / 3</div>
  <img src="{{ url_for('static',filename='images/pic01.jpg') }}" style="width:100%">
  <div class="text">Caption Text</div>
</div>

<div class="slides fade" id="slide2">
  <div class="numbertext">2 / 3</div>
  <img src="{{ url_for('static',filename='images/pic02.jpg') }}" style="width:100%">
  <div class="text">Caption Two</div>
</div>

<div class="slides fade" id="slide3">
  <div class="numbertext">3 / 3</div>
  <img src="{{ url_for('static',filename='images/pic03.jpg') }}" style="width:100%">
  <div class="text">Caption Three</div>
</div>


<a class="prev" onclick="plusSlide(1)">&#10094;</a>
<a class="next" onclick="plusSlide(-1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="openSlide(event, 'slide1')" id=initialSlide></span>
  <span class="dot" onclick="openSlide(event, 'slide2')"></span>
  <span class="dot" onclick="openSlide(event, 'slide3')"></span>
</div>

<script src="{{ url_for('static',filename='js/slideshow.js') }}"></script>

</body>
</html>
