name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check-final-image:
    runs-on: ubuntu-latest
    steps:
    - name: Check if final Docker image exists on Docker Hub
      id: check-final-image
      run: |
        if docker pull plasmapotential/heat:v4.2.2; then
          echo "Image exists on Docker Hub."
        else
          echo "::error ::Final HEAT Docker image v4.2.2 does not exist."
          exit 1 
        fi

  tests:
    needs: check-final-image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Pull Docker image
      run: docker pull plasmapotential/heat:latest

    - name: Run simple CI configuration test 
      run: docker run -v ${{ github.workspace }}:/root/source/HEAT plasmapotential/heat:v4.2 python3 /root/source/HEAT/tests/integrationTests/ciTest.py

    - name: NSTX-U Optical HEAT Calculation
      run: docker run -v ${{ github.workspace }}:/root/source/HEAT plasmapotential/heat:v4.2 /root/source/HEAT/source/runTerminalModeTestOptical

    - name: NSTX-U Optical Elmer FEM HEAT Calculation
      run: docker run -v ${{ github.workspace }}:/root/source/HEAT plasmapotential/heat:v4.2 /root/source/HEAT/source/runTerminalModeTestOpticalElmer     
#    - name: NSTX-U Gyro-orbit HEAT Calculation
#      run: docker run -v ${{ github.workspace }}:/root/source/HEAT plasmapotential/heat:v4.2 /root/source/HEAT/source/runTerminalModeTestGyro
    - name: NSTX-U Photon Radiation HEAT Calculation
      run: docker run -v ${{ github.workspace }}:/root/source/HEAT plasmapotential/heat:v4.2 /root/source/HEAT/source/runTerminalModeTestRad
    - name: NSTX-U RZQ File HEAT Calculation
      run: docker run -v ${{ github.workspace }}:/root/source/HEAT plasmapotential/heat:v4.2 /root/source/HEAT/source/runTerminalModeTestrzq
    - name: NSTX-U BYOM HEAT calculation
      run: docker run -v ${{ github.workspace }}:/root/source/HEAT plasmapotential/heat:v4.2 /root/source/HEAT/source/runTerminalModeTestBYOM
  
